# Ignore backups and temporary files
.DS_Store
__pycache__/
*.zip

# Ignore duplicate solution files
solusi-retail (2).py
solusi-retail copy.py
solusi-retail (juri).py
solusi-retail(nilai-100).py
solusi-retail.py
solusi-retail (3).py
linkedin_post.md
SOAL-HACKATHON-2026-PYTHON-01/SOAL-HACKATHON.pdf
